.style1 
{  
   height:100px;
   width:200px;
   position: relative;left: 40%;
   margin-top: 20px;
   margin-bottom:20px;
}
.style2
{
    background-color: lightgreen;
}
.style3
{
    background-color: lightcoral;
}
.drawst
{
    text-align: center;
    font:italic;
    color: blue;
    background-color: lightskyblue;
}
.btnstyle
{
    height:3em;
   width:4em;
   position:relative;left :45%
}
.opstyle
{
   height:100px;;
   width:100px;
   position:relative;left :35%;
   font-size: 25px;
   margin-top: 10px;
   margin-left: 5px;
}
.answer1{
    text-align: center;
    font:italic;
    color: green;
}
.answer2{
    text-align: center;
    font:italic;
    color: red;
}
body {
    background-color: lightblue;
}
.score{
    text-align: center;
    color: purple;
}
.front{
    background-color: lightblue;
}
.head{
    text-align: center;
    font:italic;
    color: black;
}